* { margin: 0px; padding: 0px; }
body {
	font-size: 120%;
	background: #F8F8FF;
	font-family: sans-serif;
}
.header {
	width: 40%;
	margin: 50px auto 0px;
	color: white;
	background:linear-gradient(to bottom right,#b3d9ff,#001a33);
	text-align: center;
	border: 1px solid #b3d9ff;
	border-bottom: none;
	padding: 20px;
}
form, .content {
	width: 40%;
	height: 50%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #b3d9ff;
	background: white;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 10px 10px 3px grey;
}

.input-group {
	margin: 10px 0px 10px 0px;
	
}

.abc{
	width: 47%;
	padding:5px 5px 5px 10px;
	float: left;
	margin-bottom: 10px;
}
.input-group p {
	display: block;
	text-align: left;
	margin: 3px;
	font-weight: bold;

}
.input-group h2 {
	display: block;
	text-align: left;
	margin: 3px;
	font-weight: bold;

}
.input-group input[type="text"],input[type="file"]{
	height: 30px;
	width: 95%;
	padding: 5px 10px;
	font-size: 16px;
	border:none;
	border-bottom: 1px solid black;
	background: transparent;
	outline: none;
}




.input-group input[type="submit"] {
	padding: 10px;
	height: 40px;
	width: 40%;
	font-size: 25px;
	color: white;
	background:linear-gradient(to bottom right,#b3d9ff,#001a33);
	border: none;
	border-radius: 0px;
}
.input-group a{
	color:black;
	text-decoration: none;
	text-align: center;
	left:50%;
}